.theme-option-breadcrumb > li:last-child a {
    color: #d21f27;
}
.theme-option-container .panel-default {
    border: none;
    background: #36404a;
}
.theme-option-container .panel-default .panel-heading {
    color: #fff;
    border-color: #d21f27;
    background: #000;
    border-width: 2px;
    border-radius: 0;
}
.theme-option-container .panel-body {
    background: #fff;
    min-height: 200px;
}
.theme-option-container .btn-theme-option { background-color: #d21f27; border-color: #d21f27; }
.theme-option-container .btn-theme-option:hover { background-color: #b01927; border-color: #a11d4e; }
.theme-option-container .notification {text-align: center;margin-top: 15px;font-size: 14px;}
.theme-option-container .notification .fa-warning {color: #f27636;margin-right: 5px;}
.theme-option-container .btn.toggle-on { background-color: #d21f27; border-color: #d21f27; }
.theme-option-container .btn-primary { background-color: #d21f27; border-color: #d21f27; }
.theme-option-container .hoz-ul-sections {
    background-color: #e8e8e8;
    margin: 15px -15px 15px -15px;
}
.theme-option-container .hoz-ul-sections li a {
    margin: 0;
    border: none;
    color: #5a5a5a;
    background-color: #e8e8e8;
}
.theme-option-container .hoz-ul-sections li.active a, .theme-option-container .hoz-ul-sections li.active a:hover, .theme-option-container .hoz-ul-sections li.active a:focus,
.theme-option-container .hoz-ul-sections li a:hover, .theme-option-container .hoz-ul-sections li a:focus {
    background-color: #9e2d33;
    color: #fff;
    border: none;
    border-bottom: 1px solid #d21f29;
    border-radius: 0;
}
.theme-option-container .col-left {padding-right: 0;}
.theme-option-container .col-right {padding-left: 0;}
.theme-option-container .menu-sections li {width: 100%;}
.theme-option-container .menu-sections li i {margin-right: 10px;width: 15px;}
.theme-option-container .menu-sections li a {
    margin: 0;
    border: none;
    border-bottom: 1px solid #364049;
    color: #fff;
}
.theme-option-container .menu-sections li.active a, .theme-option-container .menu-sections li.active a:hover, .theme-option-container .menu-sections li.active a:focus,
.theme-option-container .menu-sections li a:hover, .theme-option-container .menu-sections li a:focus {
    background-color: #000;
    color: #fff;
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
    font-weight: inherit;
}
.theme-option-container .tab-general {
    margin-left: -15px;
    margin-top: -15px;
}
.theme-option-container .tab-general .tab-content {
    padding-left: 15px;
}

.stylesheet-settings .nav-pills > li > a {
    color: #000;
}
.stylesheet-settings .nav-pills > li.active > a,
.stylesheet-settings .nav-pills > li.active > a:hover,
.stylesheet-settings .nav-pills > li.active > a:focus {
    background-color: #d21f27;
    color: #fff;
}
.theme-option-pagination .pagination > li > a, .theme-option-pagination .pagination > li > span {
    color: #d21f27;
}
.theme-option-pagination .pagination > .active > a, .theme-option-pagination .pagination > .active > span,
.theme-option-pagination .pagination > .active > a:hover, .theme-option-pagination .pagination > .active > span:hover,
.theme-option-pagination .pagination > .active > a:focus, .theme-option-pagination .pagination > .active > span:focus {
    color: #fff;
    background-color: #d21f27;
    border-color:  #d21f27;
}
/*.theme-option-container .hoz-ul-sections {*/
/*background-color: #e8e8e8;*/
/*margin-right: -15px;*/
/*}*/
/*.theme-option-container .hoz-ul-sections li a {*/
/*margin: 0;*/
/*border: none;*/
/*color: #5a5a5a;*/
/*background-color: #e8e8e8;*/
/*}*/
/*.theme-option-container .hoz-ul-sections li.active a, .theme-option-container .hoz-ul-sections li.active a:hover, .theme-option-container .hoz-ul-sections li.active a:focus,*/
/*.theme-option-container .hoz-ul-sections li a:hover, .theme-option-container .hoz-ul-sections li a:focus {*/
/*background-color: #fff;*/
/*color: #000;*/
/*border: none;*/
/*border-bottom: 1px solid #fff;*/
/*border-radius: 0;*/
/*font-weight: inherit;*/
/*}*/