<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<style>
	#content{
		color: #797979;
		overflow-x: hidden;
		font-size: 15px;
		background: #fff;
		line-height: 24px;
	}
	img{
		max-width: 100%;
		height: auto;
	}
	a{
		color: #333333;
		transition: 0.3s;
	}
	a:hover{
		text-decoration: none;
		color: #24a3b4;
	}
	a:focus{
		outline: none;
	}

	/*content*/
	.main-content {
		text-align: center;
		padding: 0 15px;
		max-width: 616px;
		margin: auto;
		margin-bottom: 55px; 
	}
	.main-content:last-child {
		margin-bottom:0;
		border: 0; 
	}
	.main-content .title {
		margin-top: 43px;
		margin-bottom: 35px;
	}
	.main-content .title h3 {
		font-weight: 700;
		margin-top: 0;
		margin-bottom: 26px;
	}
	.main-content .title p {
		letter-spacing: 0.03em;
		max-width: 90%;
		margin: auto;
	}
	.main-content .intro {
		text-align: left;
	}
	.main-full {
		padding: 0;
	}
	.main-border {
		padding-bottom: 60px;
		border-bottom: 1px solid #e8e8ee;
	}
	.main-page .row {
		margin: 0 -13px;
		margin-bottom: 35px;
	}
	.main-page .row:last-child {
		margin-bottom: 0;
	}
	.main-page .row .col {
		padding: 0 13px;
	}
	.main-page .image a {
		display: inline-block;
		vertical-align: top;
		position: relative;
	}
	.main-page .image a:before {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		border: 3px solid #24a3b5;
		opacity: 0;
		-webkit-transition: all 300ms ease-in-out;
		-moz-transition: all 300ms ease-in-out;
		-ms-transition: all 300ms ease-in-out;
		-o-transition: all 300ms ease-in-out;
		transition: all 300ms ease-in-out;
	}
	.main-page .image a:hover:before {
		opacity: 1;
	}
	.main-page .content h4 {
		margin-top: 15px;
		text-transform: capitalize;
		line-height: 1.3;
	}
	.main-responsive img {
		margin-bottom: 10px; 
	}
	/*end content*/
</style>
<div id="content">
	<div class="main-content main-page">
		<div class="intro">
			<h2>Support</h2>
			<p>If you have any problems or have questions about our themes, please contact us via email: <b>divawebs@gmail.com</b></p>

			<h2>Introduction</h2>
			<p>Umar is a premium theme optimized for creating OpenCart online stores with fully responsive and extremely customization. This theme has powerful control panel with many options to custom your site follow your idea.</p>

			<h2>Compatibility</h2>
			<ul>
				<li><strong>OpenCart Version 3.0.2.x</strong></li>
			</ul>
		</div>
		<div class="title">
			<p><img src="http://divawebs.com/desimage/umar/header.jpg" alt="header" /></p>
			<h3>Unique Homepage Layout</h3>
			<p>There are four Home Layout and some kinds of layout for specified page (Category, Product,..)</p>
		</div>
		<div class="content">
			<div class="row">
				<div class="col col-sm-6 col-xs-12">
					<div class="image">
						<a href="http://umar1.divawebs.com/" target="_blank" title="umar Homepage 1">
							<img src="http://divawebs.com/desimage/umar/homepage-1.jpg" alt="homepage-1" />
						</a>
					</div>
					<h4><a href="http://umar1.divawebs.com/" target="_blank" title="umar Homepage 1">Homepage #1</a></h4>
				</div>
				<div class="col col-sm-6 col-xs-12">
					<div class="image">
						<a href="http://umar2.divawebs.com/" target="_blank" title="umar Homepage 2">
							<img src="http://divawebs.com/desimage/umar/homepage-2.jpg" alt="homepage-2" />
						</a>
					</div>
					<h4><a href="http://umar2.divawebs.com/" target="_blank" title="umar Homepage 2">Homepage #2</a></h4>
				</div>
			</div>
			<div class="row">
				<div class="col col-sm-6 col-xs-12">
					<div class="image">
						<a href="http://umar3.divawebs.com/" target="_blank" title="Umar Homepage 3">
							<img src="http://divawebs.com/desimage/umar/homepage-3.jpg" alt="homepage-3" />
						</a>
					</div>
					<h4><a href="http://umar3.divawebs.com/" target="_blank" title="Umar Homepage 3">Homepage #3</a></h4>
				</div>
				<div class="col col-sm-6 col-xs-12">
					<div class="image">
						<a href="http://umar4.divawebs.com/" target="_blank" title="Umar Homepage 4">
							<img src="http://divawebs.com/desimage/umar/homepage-4.jpg" alt="homepage-4" />
						</a>
					</div>
					<h4><a href="http://umar4.divawebs.com/" target="_blank" title="Umar Homepage 3">Homepage #4</a></h4>
				</div>
			</div>
			<div class="row">
				<div class="col col-sm-6 col-xs-12">
					<div class="image">
						<a href="http://umar1.divawebs.com/shop-fashion" target="_blank" title="Category Product Page With Column Left">
							<img src="http://divawebs.com/desimage/umar/category-1.jpg" alt="category-1" />
						</a>
					</div>
					<h4><a href="http://umar1.divawebs.com/shop-fashion" target="_blank" title="Category Product Page With Column Left">Category Product Page With Column Left</a></h4>
				</div>
				<div class="col col-sm-6 col-xs-12">
					<div class="image">
						<a href="http://umar2.divawebs.com/shop-furniture" target="_blank" title="Category Product Page With Column Right">
							<img src="http://divawebs.com/desimage/umar/category-2.jpg" alt="category-2" />
						</a>
					</div>
					<h4><a href="http://umar2.divawebs.com/shop-furniture" target="_blank" title="Category Product Page With Column Right">Category Product Page With Column Right</a></h4>
				</div>
			</div>
			<div class="row">
				<div class="col col-sm-6 col-xs-12">
					<div class="image">
						<a href="http://umar1.divawebs.com/fashion-product-demo-15" target="_blank" title="Product Details">
							<img src="http://divawebs.com/desimage/umar/product-details.jpg" alt="product-details" />
						</a>
					</div>
					<h4><a href="http://umar1.divawebs.com/fashion-product-demo-15" target="_blank" title="Product Details">Product Details</a></h4>
				</div>
				<div class="col col-sm-6 col-xs-12">
					<div class="image">
						<a href="http://umar1.divawebs.com/14-ways-to-wear-fashion’s-comfiest-trend-1" target="_blank" title="Post Details">
							<img src="http://divawebs.com/desimage/umar/post-details.jpg" alt="post-details" />
						</a>
					</div>
					<h4><a href="http://umar1.divawebs.com/14-ways-to-wear-fashion’s-comfiest-trend-1" target="_blank" title="Post Details">Post Details</a></h4>
				</div>
			</div>
		</div>
	</div>
	<div class="main-content main-full main-responsive">
		<img src="http://divawebs.com/desimage/umar/full-responsive-1.jpg" alt="full-responsive-1" />
		<img src="http://divawebs.com/desimage/umar/full-responsive-2.jpg" alt="full-responsive-2" />
		<img src="http://divawebs.com/desimage/umar/full-responsive-3.jpg" alt="full-responsive-3" />
		<img src="http://divawebs.com/desimage/umar/full-responsive-4.jpg" alt="full-responsive-4" />
		</div>
	<div class="main-content main-border">
		<div class="title">
			<h3>Google Fonts Customize</h3>
			<p>Full Google fonts to choose for your site</p>
		</div>
		<div class="content">
			<img src="http://divawebs.com/desimage/umar/google-font-customize.jpg" alt="google-font-customize" />
		</div>
	</div>
	<div class="main-content main-border">
		<div class="title">
			<h3>One Click Installation Theme</h3>
			<p>Install themme very fast by One Click</p>
		</div>
		<div class="content">
			<img src="http://divawebs.com/desimage/umar/one_click_installation_theme.jpg" alt="one_click_installation_theme" />
		</div>
	</div>
	<div class="main-content main-border">
		<div class="title">
			<h3>Drag and Drop Layout Composer</h3>
			<p>Build layout follow your idea easily by dragging, dropping in Layout Composer module.</p>
		</div>
		<div class="content">
			<img src="http://divawebs.com/desimage/umar/drag_drop_layout_builder.jpg" alt="drag_drop_layout_builder" />
		</div>
	</div>
	<div class="main-content main-border">
		<div class="title">
			<h3>Module Customization Mode For Administrator</h3>
			<p>Show Module Custom Hint and let you click it to custom module without knowing the module position.</p>
		</div>
		<div class="content">
			<img src="http://divawebs.com/desimage/umar/module_customization_mode.jpg" alt="module_customization_mode" />
		</div>
	</div>
	<div class="main-content main-border">
		<div class="title">
			<h3>Powerful Control Panel</h3>
			<p>Configure all settings, features and modules about the theme.</p>
		</div>
		<div class="content">
			<img src="http://divawebs.com/desimage/umar/powerfull_control_panel.jpg" alt="powerfull_control_panel" />
		</div>
	</div>
	<div class="main-content main-border">
		<div class="title">
			<h3>Mobile Layout</h3>
			<p>Specified layout for Homepage on Mobile.</p>
		</div>
		<div class="content">
			<img src="http://divawebs.com/desimage/umar/mobile_layout.jpg" alt="mobile_layout" />
		</div>
	</div>
	<div class="main-content main-border">
		<div class="title">
			<h3>Strong Mega menu</h3>
			<p>The Ultimate Menu to show Mega menu, Flyout menu with many options, features.</p>
		</div>
		<div class="content">
			<img src="http://divawebs.com/desimage/umar/mega_menu.jpg" alt="mega_menu" />
		</div>
	</div>
	<div class="main-content main-border">
		<div class="title">
			<h3>Multiple Headers</h3>
			<p>Customize header follow header of the template.</p>
		</div>
		<div class="content">
			<a href="http://umar1.divawebs.com/" target="_blank" title="Header Option 1">	
				<img src="http://divawebs.com/desimage/umar/header_option_1.jpg" alt="header_option_1" />
			</a>
			<a href="http://umar2.divawebs.com/" target="_blank" title="Header Option 2">	
				<img src="http://divawebs.com/desimage/umar/header_option_2.jpg" alt="header_option_2" />
			</a>
			<a href="http://umar3.divawebs.com/" target="_blank" title="Header Option 3">	
				<img src="http://divawebs.com/desimage/umar/header_option_3.jpg" alt="header_option_3" />
			</a>
			<a href="http://umar4.divawebs.com/" target="_blank" title="Header Option 4">	
				<img src="http://divawebs.com/desimage/umar/header_option_4.jpg" alt="header_option_4" />
			</a>		
		</div>
	</div>
	<div class="main-content main-border">
		<div class="title">
			<h3>Category Advance View</h3>
			<p>Advance View to see more types of products listing.</p>
		</div>
		<div class="content">
			<a href="http://umar1.divawebs.com/shop-fashion" target="_blank" title="Category Custom View">	
				<img src="http://divawebs.com/desimage/umar/category_custom_view.jpg" alt="category_custom_view" />
			</a>
		</div>
	</div>
	<div class="main-content main-border">
		<div class="title">
			<h3>Color Swatches Image</h3>
			<p>Product Option Swatches to swatches options with product images.</p>
		</div>
		<div class="content">
			<a href="http://umar3.divawebs.com/canon-eos-5d" target="_blank" title="Color Swatch Pro">	
				<img src="http://divawebs.com/desimage/umar/color_swatch_pro.gif" alt="color_swatch_pro" />
			</a>
		</div>
	</div>
	<div class="main-content main-border">
		<div class="title">
			<h3>Blog Feature</h3>
			<p>Show Blog Posts at Home page or Blog Page.</p>
		</div>
		<div class="content">
			<a href="http://umar1.divawebs.com/blog" target="_blank" title="Blog Grid">	
				<img src="http://divawebs.com/desimage/umar/blog_grid.jpg" alt="blog_grid" />
			</a>
			<a href="http://umar4.divawebs.com/blog" target="_blank" title="Blog List">	
				<img src="http://divawebs.com/desimage/umar/blog_list.jpg" alt="blog_list" />
			</a>
		</div>
	</div>
	<div class="main-content main-border">
		<div class="title">
			<h3>Products Sliders</h3>
			<p>Show many types of products listing on Home page</p>
		</div>
		<div class="content">
			<img src="http://divawebs.com/desimage/umar/product_slider_module.jpg" alt="product_slider_module" />
		</div>
	</div>
	<div class="main-content main-border">
		<div class="title">
			<h3>Products Tabs</h3>
			<p>Show products by Tabs follow some types of products list.</p>
		</div>
		<div class="content">
			<img src="http://divawebs.com/desimage/umar/tab_product_slider.jpg" alt="tab_product_slider" />
		</div>
	</div>
	<div class="main-content main-border">
		<div class="title">
			<h3>AJAX Product Quick View</h3>
			<p>See product info at products list by using AJAX</p>
		</div>
		<div class="content">
			<img src="http://divawebs.com/desimage/umar/quickview.jpg" alt="quickview" />
		</div>
	</div>
	<div class="main-content main-border">
		<div class="title">
			<h3>Multi - Language</h3>
			<p>Support all language packages.</p>
		</div>
		<div class="content">
			<img src="http://divawebs.com/desimage/umar/multi-language.jpg" alt="multi-language" />
		</div>
	</div>
	<div class="main-content main-border">
		<div class="title">
			<h3>Featured List</h3>
			<p>Template has many modules, features & options to make you can custom your site follow your idea.</p>
		</div>
		<div class="content">
			<img src="http://divawebs.com/desimage/umar/feature-list.jpg" alt="feature-list" />
		</div>
	</div>
</div>